@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  text-decoration: none;
  list-style: none;
}

.logo {
  width: 10%;
}

.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ffcc00;
  padding: 10px;
}

.menu {
  display: flex;
  gap: 60px;
}

h1 {
  font-size: 60px;
}

.slogan {
  font-weight: bold;
  margin: 5px 0 5px 0;
}

.menu a {
  padding: 10px 30px 10px 30px;
  border: black 1px solid;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  margin: 0 0 20px 0;
  color: black;
  background-color: #ffcc00;
}

.principal {
  margin-top: 50px;
}

.menu_link:hover {
  color: aliceblue;
  background-color: #0a0800;
  cursor: pointer;
  transition: 0.5s;
}

/* Estilação do main */

.principal {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 20px 0 20px;

  display: grid;
  gap: 30px;

  grid-template-columns: 400px 1fr;

  /* Definição das Áreas */
  grid-template-areas:
    "equipe intro"
    "equipe servicos"
    "equipe clientes"
    "contato contato";
}

/*Introdução*/

.introducao {
  grid-area: intro;

  background-color: #ffcc00;
  padding: 30px;
  border-radius: 12px;
  border: #ffcc00 solid 1px;
  border-left: 10px solid #ffcc00;
}

.introducao h2 {
  margin-bottom: 20px;
}

.introducao p {
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 1.6;
  border-bottom: 1px solid black;
}

.card-intro {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-intro p {
  display: inline-block;
  background-color: #ffcc00;
  border: #0a0800 solid 2px;
  border-top: #0a0800 solid 10px;
  border-radius: 8px;
  padding: 10px;
}

.card-intro p:hover {
  transition: background-color 0.3s ease, transform 0.5s ease,
    box-shadow 0.3s ease;

  box-shadow: 0 4px 12px rgba(0, 115, 177, 0.3);

  transform: scale(1.05) translateY(-10px);
}

/*Serviço*/

.servicos p {
  font-weight: bold;
  border-bottom: 2px solid #333;
  margin-top: 10px;
}

.servicos {
  grid-area: servicos;
}

.servicos-grid {
  display: grid;
  /*a parte que foi mais complicada*/
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  /* grid-template-columns: 1fr 1fr 1fr; */

  gap: 20px;

  margin: 20px 40px 20px;
}

.servicos .card {
  background-color: black;
  color: aliceblue;
  padding: 30px;
  border-radius: 8px;

  border-top: 10px solid #ffcc00;
  line-height: 1.6;
}

.servicos .card h3 {
  margin-bottom: 10px;
  color: #b38f00;
}

/*clientes*/

.clientes p {
  font-weight: bold;
  border-bottom: 2px solid #333;
  margin-top: 10px;
}

.clientes {
  grid-area: clientes;
}

.clientes-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /*o mais complicado*/

  /* grid-template-columns: 1fr 1fr 1fr; */

  gap: 20px;

  margin: 20px 40px 20px;
}

.clientes-card {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #ffcc00;
  border-top: 10px solid #ffcc00;
  line-height: 1.6;
}





.clientes-card:hover{
    
    
    transform: scale(1.12);
    transition: 0.2s;

}

.clientes-card h3 {
  margin-bottom: 10px;
  color: #b38f00;
}

.clientes-card img {
  width: 50%;
  border-radius: 50%;
}

/* contato  */

.contato {
  grid-area: contato;
  background-color: #ffcc00;
  width: 97%;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: -20px;
}

.contato h2 {
  margin-bottom: 15px;
}

.contato a.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
}

/*parte de equipe*/

.equipe {
  grid-area: equipe;
  background-color: #ffcc00;
  color: black;
  padding: 20px;
  border-radius: 12px;
}

.equipe header {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.membro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.membro:hover {
  border: 3px solid aliceblue;

    transition: background-color 0.3s ease, transform 0.5s ease,
    box-shadow 0.3s ease;

  box-shadow: 0 4px 12px rgba(0, 115, 177, 0.3);

  transform: scale(1.05) translateY(-10px);


}

.membro img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffcc00;
  margin-bottom: 10px;
}

.membro h4 {
  color: aliceblue;
  margin-bottom: 5px;
}

.membro p {
  font-size: 15px;
  color: #ccc;
  margin-bottom: 10px;
}

.membro .btn {
  padding: 5px 15px;
  background-color: #ffcc00;
  color: black;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bold;
}

.membro .btn:hover {
  background-color: aliceblue;
  transform: scale(1.05) translateY(-50px);
}

/*Rodapé*/

.rodape {
  background-color: black;
  text-align: center;
  color: #ffcc00;
  font-size: small;
  padding: 20px;
}

.rodape_logo {
  margin-bottom: 10px;
}

.WhatsApp {
  display: none;
}

@media screen and (max-width: 885px) {
  .WhatsApp {
    display: block;
    width: 60px;
    position: fixed;
    top: 70%;
    right: 25px;
  }

  .logo {
    width: 45%;
  }

  .cabecalho {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 95%;
    border-radius: 8px;
  }

  .menu {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .menu a {
    display: block;
    /*para centralizar*/
    margin: auto;
  }

  .principal {
    grid-template-columns: 1fr;
    grid-template-areas:
      "intro"
      "servicos"
      "clientes"
      "equipe"
      "contato";

    margin-top: 20px;
  }

  .servicos-grid {
    grid-template-columns: 1fr;
    margin: 20px 0 20px 0;
  }

  .clientes-grid {
    grid-template-columns: 1fr;
    margin: 20px 0 20px 0;
  }

  .clientes-card img {
    width: 20%;
  }

  .introducao {
    border-left: none;
    border-top: 10px solid black;
    /*mudei posição*/
  }

  .contato {
    width: 85%;
  }
}
